 
 
 img{
    width: 150px;
    height: px;
    
 }
  #foto{
   display: flex;
   justify-content:space-between;
   width: 100%;
   position: fixed;
  }

  .button1{
    height: 35px;
    width: 150px;
    border-radius: 20px;
    background-color: #000000f9;
    border: none;
    color: #ffffff;
    flex-direction: row;
    margin: 30px;
    justify-content: flex-end;
    cursor: pointer;
  }
  .button2{
    height: 35px;
    width: 150px;
    border-radius: 20px;
    background-color:  #000000f9;
    border: none;
    color: #ffffff;
    flex-direction: row;
    margin: 30px;
    cursor: pointer;
  }
  .button3{
    height:35px;
    width: 150px;
    border-radius: 20px;
    background-color: #000000f9;
    border: none;
    color: #ffffff;
    flex-direction: row;
    margin: 30px;
    cursor: pointer;
  }


.


  