 
 
 img{
    width: 250px;
    height: px;
    
 }
  #foto{
   display: flex;
   justify-content:space-between;
    height: 100px;
    width: 100%;
    padding: 20px;
    position: fixed;
   
  }

  .button1{
    height: 30px;
    width: 150px;
    border-radius: 4px;
    background-color: #000000f9;
    border: none;
    color: #ffffff;
    flex-direction: row;
    margin: 30px;
    justify-content: flex-end;
    cursor: pointer;
  }
  .button2{
    height: 30px;
    width: 150px;
    border-radius: 4px;
    background-color:  #000000f9;
    border: none;
    color: #ffffff;
    flex-direction: row;
    margin: 30px;
    cursor: pointer;
  }
  .button3{
    height: 30px;
    width: 150px;
    border-radius: 4px;
    background-color: #000000f9;
    border: none;
    color: #ffffff;
    flex-direction: row;
    margin: 30px;
    cursor: pointer;
  }
  


  