 
 body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
 }
 img{
    width: 150px;
    height: px;
    
 }
  #foto{
   display: flex;
   justify-content:space-between;
   width: 100%;
   
   
   position: fixed;
   background-color: #ffffff;
   top:0;
   z-index: 1;
  
  }

  .button1, .button2, .button3{
    height: 35px;
    width: 150px;
    border-radius: 20px;
    background-color: #000000f9;
    border: none;
    color: #ffffff;
    flex-direction: row;
    margin: 30px;
    justify-content: flex-end;
    cursor: pointer;
  }
  
   

  .conte {
    background-image: url('inicio1.jpg'); /* Define a imagem de fundo */
    background-size: cover; /* Para cobrir toda a área da div */
    background-position: center; /* Para centralizar a imagem */
    width: 100%;
    height: 100vh; /* Para ocupar toda a altura da janela do navegador */
    margin-top: 150px; /* Para dar espaço para a div foto */
  
}
.texto-sobre-imagem {
  font-family: cursive;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  text-align: left; /* alinhamento de texto */
  color: #ffffff;
  max-width: 300px; /* Limita a largura do texto */
}

.button-sobre-imagem button {
  height: 50px; 
  width: 250px;
  border-radius: 10px;
  background-color: #000000c8;
  border: none;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  font-size: large;
  text-decoration: none;
}

.imagens {
  display: flex; /* Alinha as imagens em uma linha*/
  flex-wrap: wrap; /*Quebra para proxima linha quando não houver espaço suficiente*/
  justify-content: space-between;
  padding: 100px;/*Adiciona espaço ao redor das imagens*/
}

.imagens img {
  margin-right: 30px; /* Espaçamento direito entre imagens */
  margin-left: 30px; 
  margin-bottom: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 800px) {
  .imagens {
    flex-direction: column; /* Ajuste a direção para coluna em telas pequenas */
  }

  .imagens img {
    width: 100%;
    margin-right: 0;
  }